body{    
    margin:0;
    padding:0;
    font-size:16px;
}
.home{
    height:auto;
    background:#3f4049;
    &-block{
        margin-left:15%;
        width:70%;
        display:flex;
        flex-direction: column;
        &__text{
            align-self: center;
            margin-top: 10%;
            &-head{
                color:#fff;
                font-size:3em;
                font-family: 'Libre Baskerville';
                font-weight:normal;
                text-align: center;               
            }
        }
        &__button{
            width:auto;
            height:50px;
            align-self: center;
            &-works{
                color:#fff;
                font-size:1em;
                font-family: 'Poppins';
                font-weight: 600;
                text-transform: uppercase;
                border-radius:25px ;
                border:#fc5f45 3px;
                padding:8px 30px;                
                background-color:#fc5f45;
                border-style: solid;
            }
        }

    }
}
.header{
    display:flex;
    //position: relative;
    width:100%;
    height:auto; 
    font-family: 'Poppins';
    font-weight: 500;
    text-align: center;
    font-size: 0.875em;
    color:#fff;
}
.header a[href],a{
    text-decoration: none;
    color:#fff;
}
.header-scroll{
    color:#373841;
    background-color: #FFF;
    position:fixed;
    z-index: 100;
    box-shadow: rgba(0,0,0,0.1) 0 0 10px 0px;   
}
.header-scroll a[href],a{
    text-decoration: none;
    color:#373841;
}    
.logo{
    flex-grow: 1;
    height: 75px;
    min-width:25%;
    position:relative;
    background: url("/assets/img/logo2.png");
    background-repeat: no-repeat;
    background-position: right;
}
.header-scroll .logo{
    background: url("/assets/img/logo.png");
    background-repeat: no-repeat;
    background-position: right;
}
.menu{
    flex-grow: 3;
    position:relative; 
    &-ul{
        position:relative;        
        top:37%;
        margin: 0;
        padding: 0;
    }
    &-ul>li{
        display: inline;
        margin: 6px;
    }
    &-icon{
        position:absolute;
        left: calc(100% - 65px);
        top: calc(50% - 20px);
        width: 40px;
        height: 40px;
        background: url("../assets/img/menu.svg") no-repeat;
        background-size:cover;
        display: none;
    }
}
.features{
    display:flex;
    justify-content:space-between;
    align-items: center;
    align-content: center;
    width:100%;
    height: auto;
    &-block{
        max-width:33.3333333%;
        &__icon{
            width:48px;
            margin-left:calc((100% - 48px)/2);
            margin-top:20%;
            height:48px;
            &-1{
                @extend .features-block__icon;
                background:url("../assets/img/price.svg") no-repeat;
                background-size: cover;                
            }
            &-2{
                @extend .features-block__icon;
                background:url("../assets/img/time.svg") no-repeat;
                background-size: cover;                
            }
            &-3{
                @extend .features-block__icon;
                background:url("../assets/img/checking.svg") no-repeat;
                background-size: cover;                
            }
        }
        &__text{
            text-transform: uppercase;
            font-size: 1.125em;
            font-family: 'Poppins';
            font-weight: 500;
            text-align: center;
            margin-bottom:20%;
            &-1{
                @extend .features-block__text;
                color:#38c695;
            }
            &-2{
                @extend .features-block__text;
                color:#b17bf3;
            }
            &-3{
                @extend .features-block__text;
                color:#feb960;
            }
        }
    }
}
.about{
    margin: 6% 15%;
    width:70%;
    height:auto;
    display:flex;
    align-items: center;
    &-image{
        width:45%;
        height:auto;
        &__image{
            width:100%;
            height:auto;
        }
    }
    &-block{
        width:57%;
        box-shadow:0 0 3px 3px #61616110;
        height:auto;
        margin-left:-5%;
        background-blend-mode: multiply;
        background: url("../assets/img/01.png") no-repeat,#fff;
        display:none;
        &__text{
            margin-left:10%;
            margin-right:10%;
            margin-bottom:10%;
            &-head{
                font-family: 'Libre Baskerville';
                font-weight: 700;
                font-size:3.125em;
                color:#313131;
            }
            &-text{
                font-family: 'Poppins';
                font-weight: 400;
                font-size:0.9375em;
                color:#616161;
            }
        }
    }
    &-image:hover + &-block{
        display: block;
    }
    &-block:hover{
        display: block;
    }
}
.services{
    height:auto;
    width:100%;
    background-color: #f7f7f7;
    padding-bottom: 10%;
    &__text{
        margin-left: 15%;
        width:70%;
        padding-top:5%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        background:url("../assets/img/02.png") no-repeat;
        background-position-x: center;
        &-head{
            @extend .about-block__text-head;
            align-self: center;
        }
        &-text{
            @extend .about-block__text-text;
            font-size: 1.125em;
            text-align: center;
        }
    }
    &-blocks{
        margin-left: 15%;
        width:70%;
        height:auto;
        display:flex;
        &__block{
            max-width: 25%;
            margin:0 15px;
            border:solid ;
            background-color: #fff;
            border-width: 0 0 3px;
            height:auto;        
        }
        &__image{
            margin: 24% 0 0 38%;
            width: 24%;
            height: 60px;
            &-1{
                @extend .services-blocks__image;
                background: url("../assets/img/service1.png") no-repeat;
                background-size:100% auto; 
            }
            &-2{
                @extend .services-blocks__image;
                background: url("../assets/img/service2.png") no-repeat;
                background-size:100% auto; 
            }
            &-3{
                @extend .services-blocks__image;
                background: url("../assets/img/service3.png") no-repeat;
                background-size:100% auto; 
            }
            &-4{
                @extend .services-blocks__image;
                background: url("../assets/img/service4.png") no-repeat;
                background-size:100% auto; 
            }
        }
        &__text{
            margin-bottom:25%;
            &-head{
                text-transform: capitalize;
                font-size: 1.25em;
                font-family: 'Poppins';
                font-weight: 500;
                text-align: center;
                columns: #313131;            
            }
            &-text{
                font-family: 'Poppins';
                font-weight: 400;
                font-size:0.9375em;
                color:#616161;    
                text-align: center;  
                width:90%;
                margin-left:5%;          
            }
        }
    }
}
.red{
    border-bottom:3px solid #fc5f45;
}
.green{
    border-bottom:3px solid #38c695;
}
.purple{
    border-bottom:3px solid #b17bf3;
}
.orange{
    border-bottom:3px solid #feb960;
}
.video{
    width:100%;
    height:auto;
    background-color: #3f4049;
    &__image{
        width:10%;
        height:auto;
        margin-left: 45%;
        &-head{
            font-family: 'Poppins';
            font-weight: 400;
            font-size:1.875em;
            color:#fff;
            text-align: center;
            padding: 5% 0 1% 0;
            margin: 0;
        }
        &-gif{
           width:100%;
        }
        &-play{
            background: url("../assets/img/play.svg") no-repeat;
            background-size: cover;
            width:60px;
            height:60px;
            margin: 10% calc((100% - 60px)/2);
            
        }
        &-stop{
            background: url("../assets/img/stop.svg") no-repeat;
            background-size: cover;
            width:60px;
            height:60px;
            margin: 10% calc((100% - 60px)/2);
        }
        &-info{
            font-family: 'Poppins';
            font-weight: 400;
            font-size:0.9375em;
            color:#fff;
            text-align: center;
            padding: 1% 0 5% 0;
            margin: 0;
        }
    }
}
@mixin back($path){
    position:relative;
    z-index: -1;
    width:100%;
    height:auto;
    background: url($path) no-repeat;
    background-size: 100% auto; 
}
.portfolio{
    height:auto;
    width:100%;
    padding-bottom:7.5%;
    &__text{
        margin-left: 15%;
        width:70%;
        padding-top:5%;
        padding-bottom:3%;
        background:url("../assets/img/03.png") no-repeat;
        background-position-x: center;
        &-head{
            @extend .about-block__text-head;
            text-align:center;
        }
        &-text{
            @extend .about-block__text-text;
            text-align: center;
        }
    }
    &-block{
        height:auto;
        margin-left: 15%;
        width:70%;
        display: flex;
        flex-wrap: wrap;
        &__block{
            margin:0 15px;
            padding:3px 0;
            max-width: calc(33.3333333% - 30px);
        }
        &__more{
            width:20%;
            margin-top:-55%;
            margin-left:40%;
            visibility: hidden;
        }
        &__image{            
            position:relative;
            width:100%;
            visibility:hidden;
            &-1{
                @include back("../assets/img/project1.png");
            }
            &-2{
                @include back("../assets/img/project2.png");
            }
            &-3{                
                @include back("../assets/img/project3.png");
            } 
            &-4{                
                @include back("../assets/img/project4.png");
            }
            &-5{                
                @include back("../assets/img/project5.png");
            }
            &-6{                
                @include back("../assets/img/project6.png");
            } 
            &-7{                
                @include back("../assets/img/project7.png");
            }
            &-8{                
                @include back("../assets/img/project8.png");
            }
            &-9{                
                @include back("../assets/img/project9.png");
            }
        }
        &__text{
            width:100%;
            background-color: #fff;
            border-top-width:3px;
            border-top-style: solid;
            border-image:url("../assets/img/border.svg") 100% 0 ;
            border-image-repeat: stretch stretch;
            margin-top: -15%;
            visibility: hidden;
            &-0{
                color:#313131;
                font-family: 'Poppins';
                font-weight: 500;
                font-size: 1.125em;
                text-align: center;
            }        
        }
        &__block:hover &__more{  
            visibility:visible;
        }
        &__block:hover &__text{
            visibility:visible;
        }
    }
}
.team{
    width:100%;
    height:auto;
    background: #f7f7f7;
    padding-bottom: 5%;
    &__text{
        margin-left: 15%;
        width:70%;
        padding:5% 0;
        background:url("../assets/img/04.png") no-repeat;
        background-position-x: center;
        &-head{
            @extend .portfolio__text-head;
        }
        &-text{
            @extend .portfolio__text-text;
        }
    }
    &-blocks{
        margin-left: 15%;
        width:70%;
        height:auto;
        display:flex;
        &__block{
            max-width: 100%;
            margin:0 15px;
            border-bottom: solid 3px red;
            color:red;
            background: #FFF;
            &-1{
                @extend .team-blocks__block;
                border-color:#fc5f45;
                color:#fc5f45;
            }
            &-2{
                @extend .team-blocks__block;
                border-color:#38c695;
                color:#38c695;
            }
            &-3{
                @extend .team-blocks__block;
                border-color:#b17bf3;
                color:#b17bf3;
            }
            &-4{
                @extend .team-blocks__block;
                border-color:#feb960;
                color:#feb960;
            }
        }
        &__image{
            width:100%;
            height:auto;
        }
        &__text{
            &-1{
                font-weight: 500;
                font-family: 'Poppins';
                font-size: 1.125em;
                text-align: center;
                text-transform: capitalize;
            }&-2{
                color:#313131;
                font-weight: 400;
                font-family: 'Poppins';
                font-size: 0.875em;
                text-align: center;
                margin-top:-1em;
                text-transform: capitalize;
            }
        }
    }
    &-block{
        width:400%;
        margin-top:10%;
        margin-bottom:10%;
        height:auto;
        background-color: #fff;
        border-bottom: solid 3px red;
        color:red;
        display: none;
        &-1{
            @extend .team-block; 
            border-color:#fc5f45;           
        }
        &-2{
            @extend .team-block;
            border-color:#38c695;
            margin-left:-100%;           
        }
        &-3{
            @extend .team-block;
            border-color:#b17bf3;
            margin-left:-200%;            
        }
        &-4{
            @extend .team-block;
            border-color:#feb960;
            margin-left:-300%;            
        }
        &__triangle{
            position:relative;
            width:0;
            height:0;
            border:1.5em solid;
            top:-3em;
            border-color:transparent transparent #fff transparent;
            &-1{
                @extend .team-block__triangle;
                margin-left: 10%;
            }
            &-2{
                @extend .team-block__triangle;
                margin-left: 35%;
            }
            &-3{
                @extend .team-block__triangle;
                margin-left: 60%;
            }
            &-4{
                @extend .team-block__triangle;
                margin-left: 85%;
            }
        }
        &-inner{
            display:flex;
            align-items: center;
            align-content: center;
            &__text{
                width:60%;
                padding:0 5%;
                font-family: 'Poppins';
                &-head{
                    font-weight: 500;
                    font-size: 1.25em;
                    color:#313131;
                }
                &-text{
                    font-weight: 400;
                    font-size: 0.875em;
                    color: #3f4049;
                }
            }
            &__icon{
                width:50px;
                height:50px;
                margin-right:3%;                
            }
            &__share{
                width:10%;
                padding:2%;
                border-left:2px solid #f7f7f7;
                &-icon{
                    width: 50%;
                    margin-left: 40%;
                    text-align: center;
                }
                &-text{
                    font-weight: 400;
                    font-size: 0.875em;
                    color: #3f4049;
                    font-family: 'Poppins';
                }
            }
        }
    }
}
.show{
    display:block;
}
.stats{
    width:100%;
    height:auto;
    background: url("../assets/img/stats.png");
    background-size: cover;
    &-blocks{
        display:flex;
        width:70%;
        margin:0 15%;
        height:auto;        
    }
    &-block{
        max-width:25%;
        padding: 5% 0;
        flex:0 0 25%;
        height:auto;
        &__icon{
            width:30%;
            margin:0 35%;
            height:60px;
            background-size: cover;
            &-1{
                @extend .stats-block__icon;
                background:url("../assets/img/stats1.png") no-repeat;
                background-position: center;
            }
            &-2{
                @extend .stats-block__icon;
                background:url("../assets/img/stats2.png") no-repeat;
                background-position: center;
            }
            &-3{
                @extend .stats-block__icon;
                background:url("../assets/img/stats3.png") no-repeat;
                background-position: center;
            }
            &-4{
                @extend .stats-block__icon;
                background:url("../assets/img/stats4.png") no-repeat;
                background-position: center;
            }
        }
        &__text{
            text-align: center;
            &-count{
                font-family: "Poppins";
                font-weight: 500;
                font-size: 1.25em;
                color:#fff;
            }
            &-text{                
                font-family: "Poppins";
                font-weight: 400;
                font-size: 1em;
                color:#fff;
                text-transform: capitalize;
                margin-bottom:0;
            }
        }
    }
}
.steps{
    width:100%;
    height:auto;
    padding-bottom:5%;
    &__text{
        width:70%;
        margin-left:15%;
        padding:5% 0;
        background: url("../assets/img/05.png") no-repeat;
        background-position-x:center;
        &-head{
            @extend .portfolio__text-head;
        }
        &-text{
            @extend .portfolio__text-text;
        }
    }
    &-blocks{
        width:70%;
        height:1200px;
        margin-left:15%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: url("../assets/img/steps.png") no-repeat;
        background-position-x: center;
        background-size: contain;
        
    }
    &-block{
        width:40%;
        height: 300px;
        background: #ffffff;
        border-bottom:3px solid red;
        box-shadow: #313131 0px 0px 10px 0px;
        &-1{
            @extend .steps-block;
            border-color:#fc5f45;
            margin-top:-5%;
            margin-left:0;
            animation-duration:2s;
            animation-delay: 0;
        }&-2{
            @extend .steps-block;
            border-color:#38c695;
            margin-left:0;
            animation-duration:2s;
            animation-delay: 100ms;
        }&-3{
            @extend .steps-block;
            border-color:#b17bf3;
            margin-left:0;
            animation-duration:2s;
            animation-delay: 200ms;
        }&-4{
            @extend .steps-block;
            border-color:#feb960;
            margin-left:0;
            animation-duration:2s;
            animation-delay: 300ms;
        }
        &-inner{
            height:auto;
            padding: 5% 5% 26.5% 5%;
            &__text{
                &-0{
                    font-family:'Libre Baskerville';
                    font-weight: 700;
                    font-size: 3.125em;
                    color:#e0e0e0;
                }
                &-head{
                    font-family: 'Poppins';
                    font-weight: 400;
                    font-size: 1.5625em;
                    color:#313131;
                    text-transform: capitalize;
                    margin-left:25px;
                }
                &-text{
                    font-family: 'Poppins';
                    font-weight: 400;
                    color:#616161;
                    margin-left:25px;
                    font-size: 0.9375em;
                }
            }
        }
    }
}
.pricing{
    width:100%;
    height:auto;
    background:#f7f7f7;
    &__text{
        width:70%;
        margin-left:15%;
        padding: 5% 0;
        background:url("../assets/img/06.png") no-repeat;
        background-position-x: center;
        &-head{
            @extend .portfolio__text-head;
        }
        &-text{
            @extend .portfolio__text-text;
        }
    }
    &-blocks{
        width:70%;
        margin-left:15%;
        height:auto;
        display: flex;
        align-content: center;
        align-items: center;
        padding-bottom:5%;
        &__block{
            min-width:calc(33.333333% - 30px);
            margin:0 15px;
            margin-bottom:2.5%;
            padding:2.5% 0;
            border-top: solid 3px red;
            background: #fff;
            box-shadow: 0 0 15px 0px rgb(201, 201, 201);
            &-1{
                @extend .pricing-blocks__block;
                border-color:#38c695;
            }
            &-2{
                @extend .pricing-blocks__block;
                border-color:#fc5f45;
            }
            &-3{
                @extend .pricing-blocks__block;
                border-color:#b17bf3;
            }
        }
        &__name{
            font-family: 'Poppins';
            font-weight: 500;
            font-size: 1.5em;
            color:#313131;
            text-align: center;
        }
        &__price{
            width:100px;
            margin-left:calc((100% - 100px)/2);
            height:100px;
            border-radius: 50%;
            background-color: #38c695;
            box-shadow: #38c695 0 0 0 3px;
            border: 3px solid #fff;
            text-align:center;
            &-01{
                @extend .pricing-blocks__price;
                background-color: #38c695;
                box-shadow: #38c695 0 0 0 3px;
            }
            &-02{
                @extend .pricing-blocks__price;
                background-color: #fc5f45;
                box-shadow: #fc5f45 0 0 0 3px;
            }
            &-03{
                @extend .pricing-blocks__price;
                background-color: #b17bf3;
                box-shadow: #b17bf3 0 0 0 3px;
            }
            &-1{
                font-family: 'Poppins';
                font-weight: 400;
                font-size: 1.5625em;
                color:#FFF;
                margin-top:0.5em;
            }
            &-2{
                @extend .pricing-blocks__price-1;
                font-size: 0.8125em;
                margin-top:-1.5em;
            }
        }
        &__storage{
            font-family: 'Poppins';
            font-weight:400;
            font-size: 0.9375em;
            text-align: center;
            color:#616161;
            text-transform: capitalize;
            &-value{
                font-weight: 500;
                color: #373841;
            }
        }
        &__files,&__bandwidth,&__edge{
            @extend .pricing-blocks__storage;
            &-value{
                @extend .pricing-blocks__storage-value;
            }
        }
        &__button{
            text-align: center;
            margin-left:30%;
            padding:2% 0;
            width:40%;
            color:#fff;
            font-size: 1em;
            font-family: 'Poppins';
            font-weight: 600;
            text-transform: uppercase;
            border:3px solid red;
            background:#fff;
            border-radius:25px;
            transition:background 800ms ,color 800ms;
            &-1{
                @extend .pricing-blocks__button;
                color:#38c695;
                border-color:#38c695;
                &:hover{
                    background:#38c695;
                    color:#fff;
                }
            }
            &-2{
                @extend .pricing-blocks__button;
                color:#fc5f45;
                border-color:#fc5f45;
                &:hover{
                    background:#fc5f45;
                    color:#fff;
                }
            }
            &-3{
                @extend .pricing-blocks__button;
                color:#b17bf3;
                border-color:#b17bf3;
                &:hover{
                    background: #b17bf3;
                    color:#fff;
                }
            }
        }
    }
}
.testimonials{
    width:100%;
    height:auto;
    background:#3f4049;
    padding-bottom:7.5%;
    &__text{
        width:70%;
        margin-left:15%;
        padding: 5% 0;
        background:url("../assets/img/07.png") no-repeat;
        background-position-x: center;
        &-head{
            @extend .portfolio__text-head;
            color:#fff;
        }
        &-text{
            @extend .portfolio__text-text;
            color:#fff;
        }
    }
    &-wrapper{
        width:70%;
        margin-left:15%;
        display:flex;
        align-items: center;
    }
    &-image{
        width:35%;
        height:auto;
        z-index:1;
        &__image{
            width:100%;
            height: auto;
        }
    }
    &-block{
        width:80%;
        margin-left:-10%;
        background:url("../assets/img/back.png")no-repeat, #fff;
        background-blend-mode: multiply;
        background-position: 15% 20%;
        height:auto;
        &__text{
            margin: 2.5% 7.5% 2.5% 15%;
            &-1{
                font-family: 'Poppins';
                font-weight: 400;
                font-size: 0.9375em;
                color:#373841;
            }
            &-2{
                font-family: 'Sacramento';
                font-weight: 400;
                font-size: 2.5em;
                color:#313131;
                margin:0;
            }
            &-3{
                font-family: 'Poppins';
                font-weight: 500;
                font-size: 1.125em;
                color:#313131;
                margin-top: 0;
                
            }
            &-4{
                @extend .testimonials-block__text-1;
                font-size: 0.8125em;
                color:#fc5f45;
                margin-top:-1em;
            }
        }
    }
}
.why{
    width:100%;
    height:auto;
    background:#fff;
    padding-bottom:7.5%;
    &__text{
        width:70%;
        margin-left:15%;
        padding: 5% 0;
        background:url("../assets/img/08.png") no-repeat;
        background-position-x: center;
        &-head{
            @extend .portfolio__text-head;
            text-transform: capitalize;
        }
        &-text{
            @extend .portfolio__text-text;
        }
    }
    &-blocks{
        width:70%;
        margin-left:15%;
        display:flex;
        flex-wrap: wrap;
        height:auto;
        &__block{
            max-width:calc(100% / 3 - 30px);
            margin: 0 15px;
            height:200px; 
            padding-bottom:5%;       
        }
        &__icon{
            width:70px;
            height:70px;
            background: url("../assets/img/why1.png") no-repeat;
            background-size: 100%;
            background-position: center;
            &-1{
                @extend .why-blocks__icon;
                background: url("../assets/img/why1.png") no-repeat; 
                background-position: left center;              
            }
            &-2{
                @extend .why-blocks__icon;
                background: url("../assets/img/why2.png") no-repeat; 
                background-position: left center;              
            }
            &-3{
                @extend .why-blocks__icon;
                background: url("../assets/img/why3.png") no-repeat; 
                background-position: left center;              
            }
            &-4{
                @extend .why-blocks__icon;
                background: url("../assets/img/why4.png") no-repeat; 
                background-position: left center;              
            }
            &-5{
                @extend .why-blocks__icon;
                background: url("../assets/img/why5.png") no-repeat; 
                background-position: left center;              
            }
            &-6{
                @extend .why-blocks__icon;
                background: url("../assets/img/why6.png") no-repeat; 
                background-position:25% center;              
            }
        }
        &__text{
            width:100%;
            &-head{
                font-family: 'Poppins';
                font-weight: 500;
                color:#313131;
                text-transform: capitalize;
                font-size: 1.125em;
                margin-top:-3.5em;
                margin-left:70px;
            }
            &-text{
                font-family: 'Poppins';
                font-weight: 400;
                color:#616161;
                font-size: 0.9375em;
            }
        }        
    }
    &-button{
        width:60%;
        margin-left: 20%;
        display:flex;
        align-items: center;
        &__text{
            font-family: 'Poppins';
            font-weight: 500;
            color:#313131;
            font-size: 1.5625em;
            margin: 0;
        }
        &__button{
            color:#FFF;
            background: #fc5f45;
            font-family: 'Poppins';
            font-weight: 600;
            text-transform: uppercase;
            font-size: 1em;
            border:none;
            border-radius:30px;
            padding:2% 5%;
            margin-left:2em;
        }
    }
}
.blog{
    width:100%;
    height:auto;
    background:#f7f7f7;
    padding-bottom:7.5%;
    &__text{
        width:70%;
        margin-left:15%;
        padding: 5% 0;
        background:url("../assets/img/09.png") no-repeat;
        background-position-x: center;
        &-head{
            @extend .portfolio__text-head;
            text-transform: capitalize;
        }
        &-text{
            @extend .portfolio__text-text;
        }
    }
    &-blocks{
        width:70%;
        margin-left:15%;
        height:auto;
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-column-gap:1.5em;
    }
    &__image{
        width:100%;
        grid-row-start: 1;
        grid-row-end: 3;
        background-color: #fff;
        &-image{
            width:100%;
        }
    }
    &-block{
        margin-top:1.5em;
        background: #fff;
        &__text{
            width:90%;
            margin:2.5% 0;
            margin-left:7.5%;
            &-head{
                font-family: 'Poppins';
                font-weight: 500;
                font-size: 1.25em;
                color:#313131;
            }
            &-text{
                font-family: 'Poppins';
                font-weight: 400;
                font-size: 0.9375em;
                color:#616161;
                margin:0;
            }
            &-span{
                font-family: 'Poppins';
                font-weight: 500;
                font-size: 0.9375em;
                &-1{
                    @extend .blog-block__text-span;
                    color:#313131;
                }
                &-2{
                    @extend .blog-block__text-span;
                    color:#38c695;
                }
                &-3{
                    @extend .blog-block__text-span;
                    color:#b17bf3;
                }
                &-4{
                    @extend .blog-block__text-span;
                    color:#feb960;
                }
            }
        }
    }

}
.subscribe{
    width:100%;
    height:auto;
    padding:7.5% 0;
    background: #fff;
    &__text{
        font-family: 'Poppins';
        font-size: 1.875em;
        color:#313131;
        text-align: center;
    }
    &-form{
        position: relative;
        width:40%;
        margin: 0 auto;
        &__text{
            width: 100%;
            padding:0 4%;
            height:50px;
            border: 2px solid #efefef;
            border-radius: 25px;
            outline: none;
            font-family: 'Poppins';
            background: #f7f7f7;
        }
        &__button{
            position: absolute;
            top:0;
            right: 0;
            padding:0 4%;
            height:100%;
            border: none;
            background: #fc5f45;
            border-radius: 0 25px 25px 0;
            font-family: 'Poppins';
            font-size: 1em;
            color:#fff;
            text-transform: uppercase;
        }
        &__button:disabled{
            background: #ffb8ab;            
        }
    }
}
.block{
    margin-top: 0;
    grid-row-start: 1;
    grid-row-end: 5;
}
.contact{
    width:100%;
    height:auto;
    background: #ccc;
    padding-bottom: 7.5%;
    &__text{
        width:70%;
        margin-left:15%;
        padding: 5% 0;
        background:url("../assets/img/10.png") no-repeat;
        background-position-x: center;
        &-head{
            @extend .portfolio__text-head;
        }
        &-text{
            @extend .portfolio__text-text;
        }                
    }
    &-form{
        width:50%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        &__name{
            width:calc(50% - 30px);
            margin:10px 15px;
            text-align: center;
            font-family: "Poppins";
            font-weight: 400;
            font-size: 1em;
            padding:10px 0;
            border-radius:6px;
            border: 3px solid #ccc;
        }
        &__email,&__subject,&__budget{
            @extend .contact-form__name;
        }
        &__message{
            width:calc(100% - 30px);
            margin: 10px 15px;
            margin-bottom:5%;
            text-align: center;
            font-family: "Poppins";
            font-weight: 400;
            font-size: 1em;padding:1% 0;
            border-radius:3px;
            border: none;
        }
        &__button{
            text-align: center;
            font-family: "Poppins";
            font-weight: 600;
            font-size: 1em;
            color:#fff;
            text-transform: uppercase;
            background: #fc5f45;
            border:none;
            margin: 0 auto;
            width:25%;
            padding:13px 0;
            border-radius: 25px;

        }
        &__button:disabled{
            background: #ffb8ab;            
        }
    }
}
.footer{
    width:100%;
    height:auto;
    background: #ccc;
    padding-bottom: 7.5%;
    &-blocks{
        width:70%;
        margin-left:15%;
        background: #3f4049;
        border-bottom-width:4px;
        border-bottom-style: solid;
        border-image:url("../assets/img/border.svg") 100% 0 ;
        border-image-repeat: stretch stretch;
        display: flex;
    }
    &-block{
        width:calc(25% - 30px);
        height:auto;
        padding: 2.5% 0;
        margin:0 15px;
        &__text{
            &-head{
                font-family: 'Poppins';
                font-size: 1.125em;
                font-weight: 500;
            }
            &-text{
                @extend .footer-block__text-head;
                color:#fff;
                font-weight: 400;
            }
        }
        &-1{
            @extend .footer-block;
            background: url("../assets/img/logo2.png") no-repeat;
            background-position: center;
            padding:50px 0;
        }
        &-2{
            @extend .footer-block;
            color:#38c695;
        }
        &-3{
            @extend .footer-block;
            color:#b17bf3;
        }
        &-4{
            @extend .footer-block;
            color:#feb960;
        }
        &-icons{
            display:inline;
            &__icon{
                width:30px;
                height:auto;
                margin-right: 10px;
                margin-bottom: 10px;
            }
        }
    }
}
@font-face {
    font-family: "Poppins";     
    src: url("/assets/fonts/Poppins-Regular.ttf") format("truetype"),
    url("/assets/fonts/Poppins-Regular.woff") format("woff"); 
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "Poppins";     
    src: url("/assets/fonts/Poppins-Medium.ttf") format("truetype"),
    url("/assets/fonts/Poppins-Medium.woff") format("woff"); 
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: "Poppins";     
    src: url("/assets/fonts/Poppins-SemiBold.ttf") format("truetype"),
    url("/assets/fonts/Poppins-SemiBold.woff") format("woff"); 
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: "Libre Baskerville";     
    src: url("/assets/fonts/LibreBaskerville-Regular.ttf") format("truetype"),
    url("/assets/fonts/LibreBaskerville-Regular.woff") format("woff"); 
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "Libre Baskerville";     
    src: url("/assets/fonts/LibreBaskerville-Bold.ttf") format("truetype"),
    url("/assets/fonts/LibreBaskerville-Bold.woff") format("woff"); 
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: "Sacramento";     
    src: url("/assets/fonts/Sacramento-Regular.ttf") format("truetype"); 
    font-style: normal;
    font-weight: 400;
}
@keyframes swap1{
    from {margin-left:0}
    to {margin-left:-65%;}
}
@keyframes swap2{
    from {margin-left:0}
    to {margin-left:65%;}
}
@keyframes swap11{
    0% {margin-left:0}
    50% {margin-left:-65%;}
    100% {margin-left:0}
}
@keyframes swap22{ 
    0% {margin-left:0}
    50% {margin-left:65%;}
    100% {margin-left:0}
}
@media (max-width:576px){
    body{
        font-size: 14px;
    }
    .features{
        flex-direction: column;
        &-block{
            min-width:100%;
            &__icon{
                margin-top:5%;
            }
            &__text{
                margin-bottom:5%;
            }
        }
    }
    .about{
        flex-direction: column;
        &-image{
            width:100%;
        }
        &-block{
            width:100%;
            margin-top:-50%;
            position: relative;
            z-index: 1;
        }
    }
    .services-blocks{
        flex-direction: column;
        &__block{
            max-width: 100%;
            margin:2.5% 10%;
        }
        &__image{
            &-1,&-2,&-3,&-4{
                margin: 24% 0 0 40%;
                width: 20%;
                height: 60px;
            }
        }
    }
    .video__image{
        width:40%;
        height:auto;
        margin-left: 30%;
    }
    .portfolio-block{
        flex-direction: column;
        &__block{
            max-width: 100%;
        }
    }
    .team{
        &-blocks{
            flex-direction: column;
            &__block{
                max-width:80%;
                margin:5% 10%;
            }
        }
        &-block{
            max-width: 100%;
            margin-left:0;
            &__triangle{
                margin-left:calc((100% - 4em)/2);
                border-width:2em;
                top: -4em;
                
            }
        }
    }
    .stats{
        &-blocks{
            flex-direction: column;            
        }
        &-block{
            max-width:100%;
        }
    }
    .steps{
        &-block{
            width:100%;
            margin:0;
        }
    }
    .pricing{
        &-blocks{
            flex-direction: column;
            &__block{
                min-width:100%;
                margin-bottom:10%;
            }
            &__price{
                height:85px;
                width: 85px;
                margin-left: calc((100% - 85px)/2);
            }
        }
    }
    .why{
        &-blocks{
            flex-direction: column;
            &__block{
                max-width:calc(100% - 30px);
            }
        }
        &-button{
            width:100%;
            margin:0;
        }           
    }
    .blog{
        &-blocks{
            display:flex;
            flex-direction: column;
        }
        &-block{
            max-width:calc(100% - 30px);
            margin:0 15px;
            margin-top:1.5em;
            &__image{
                max-width:100%;
                background-color: #fff;
            }
        }
    }
    .subscribe{
        &-form{
            position: relative;
            width:70%;
            margin: 0 auto;
        }
    }
    .contact{
        &-form{
            width:80%;
            &__name{
                width:calc(100% - 30px);
            }
            &__message{
                width:calc(100% - 30px);
            }
            &__button{
                width:50%;    
            }
        }
    }
    .footer{
        &-blocks{
            flex-direction: column;
        }
        &-block{
            width:calc(100% - 30px);
            margin:0 20%;
            &-1{
                margin:0 15px;
                padding:50px 0;
            }
        }
    }
}
@media (max-width:720px) and (min-width:576px){
    body{
        font-size: 14px;
    }
    .features{
        flex-direction: column;
        &-block{
            min-width:100%;
            &__icon{
                margin-top:5%;
                width:60px;
                margin-left: calc((100% - 60px)/2);
                height: 60px;
            }
            &__text{
                margin-bottom:5%;
            }
        }
    }
    .about{
        flex-direction: column;
        &-image{
            width:100%;
        }
        &-block{
            width:100%;
            margin-top:-50%;
            position: relative;
            z-index: 1;
        }
    }
    .services-blocks{
        flex-wrap:wrap;
        &__block{
            max-width: calc(50% - 30px);
            margin:2.5% 15px;
            flex:0 0 50%;
        }
        &__image{
            &-1,&-2,&-3,&-4{
                margin: 24% 0 0 40%;
                width: 20%;
                height: 60px;
            }
        }
    }
    .video__image{
        width:30%;
        height:auto;
        margin-left: 35%;
    }
    .portfolio-block{
        &__block{
            max-width: calc(50% - 30px);
        }
        &__image-9{
            margin-left:calc(50% + 15px);
        }
    }
    .team{
        &-blocks{
            flex-direction: column;
            &__block{
                max-width:80%;
                margin:5% 10%;
            }
        }
        &-block{
            max-width: 100%;
            margin-left:0;
            margin-top:10%;
            flex-direction: column;
            &__triangle{
                margin-left:calc((100% - 4em)/2);
                border-width:2em;
                top: -4em;
                
            }
            
        }
    }
    .stats{
        &-blocks{
            flex-wrap: wrap;          
        }
        &-block{
            min-width:calc(50% - 30px);
            &__icon{
                width:50%;
                margin:0 25%;
                height:60px;                
            }
        }
    }
    .steps{
        &-block{
            width:100%;
            margin:0;
        }
    }
    .pricing{
        &-blocks{
            flex-direction: column;
            &__block{
                min-width:100%;
                margin-bottom:10%;
            }
            &__price{
                height:90px;
                width: 90px;
                margin-left:calc((100% - 90px)/2);
            }
        }
    }
    .why{
        &-blocks{
            flex-direction: column;
            &__block{
                max-width:calc(100% - 30px);
            }
        }
        &-button{
            width:100%;
            margin:0;
        }           
    }
    .blog{
        &-blocks{
            display:flex;
            flex-direction: column;
        }
        &-block{
            max-width:calc(100% - 30px);
            margin:0 15px;
            margin-top:1.5em;
            &__image{
                max-width:100%;
                background-color: #fff;
            }
        }
    }
    .subscribe{
        &-form{
            position: relative;
            width:70%;
            margin: 0 auto;
        }
    }
    .contact{
        &-form{
            width:80%;
            &__name{
                width:calc(100% - 30px);
            }
            &__message{
                width:calc(100% - 30px);
            }
            &__button{
                width:30%;    
            }
        }
    }
    .footer{
        &-blocks{
            flex-direction: column;
        }
        &-block{
            width:calc(100% - 30px);
            margin:0 30%;
            &-1{
                margin:0 15px;
                padding:50px 0;
            }
        }
    }
}
@media (max-width:900px){
    
    .menu{
        &-icon{
            position:absolute;
            left: calc(100% - 65px);
            top:20px;
            width: 40px;
            height: 40px;
            background: url("../assets/img/menu.svg") no-repeat;
            background-size:cover;
            display: block;
        }
        &-ul{
            position:relative;        
            top:60px;
            display: none;
        }
        &-ul>li{
            display: block;
            margin:auto;
            font-size: 1.25em;
        }
    }
}
@media (max-width:940px) and (min-width:720px){
    body{
        font-size: 15px;
    }
    .features{
        &-block{
            max-width:calc(33.33333% - 30px);
            margin:0 15px;
            &__icon{
                margin-top:5%;
                width:60px;
                margin-left: calc((100% - 60px)/2);
                height: 60px;
            }
            &__text{
                margin-bottom:5%;
                font-size:1em;
                &-3{
                    margin-top:0;
                }
            }
        
        }
    }
    .about{
        &-image{
            width:40%;
        }
        &-block{
            width:80%;
            position: relative;
            z-index: 1;
        }
    }
    .services-blocks{
        flex-wrap:wrap;
        &__block{
            max-width: calc(50% - 30px);
            margin:2.5% 15px;
            flex:0 0 50%;
        }
        &__image{
            &-1,&-2,&-3,&-4{
                margin: 24% 0 0 40%;
                width: 20%;
                height: 60px;
            }
        }
    }
    .video__image{
        width:30%;
        height:auto;
        margin-left: 35%;
    }
    .portfolio-block{
        &__block{
            max-width: calc(50% - 30px);
        }
        &__image-9{
            margin-left:calc(50% + 15px);
        }
    }
    .team{
        &-blocks{
            flex-direction: column;
            &__block{
                max-width:70%;
                margin:5% 15%;
            }
        }
        &-block{
            max-width: 100%;
            margin-left:0;
            margin-top:6%;
            flex-direction: column;
            &__triangle{
                margin-left:calc((100% - 4em)/2);
                border-width:2em;
                top: -4em;
                
            }
            
        }
    }
    .stats{
        &-blocks{
            flex-wrap: wrap;          
        }
        &-block{
            min-width:calc(50% - 30px);
            &__icon{
                width:50%;
                margin:0 25%;
                height:60px;                
            }
        }
    }
    .steps{
        &-block{
            width:60%;
            margin:0;
            animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
        }
    }
    .pricing{
        &-blocks{
            flex-direction: column;
            &__block{
                min-width:80%;
                margin-left:10%;
                margin-bottom: 10%;
            }
            &__price{
                height:110px;
                width: 110px;
                margin-left:calc((100% - 110px)/2);
                &-1{margin-top:1em;}
                &-2{margin-top:-1.5em;}
            }
        }
    }
    .why{
        &-blocks{
            flex-direction: column;
            &__block{
                max-width:80%;
                margin-left:10%;
            }
        }
        &-button{
            width:100%;
            margin:0;
        }           
    }
    .blog{
        &-blocks{
            display:flex;
            flex-wrap: wrap;
        }
        &-block{
            max-width:calc(50% - 30px);
            margin:0 15px;
            margin-top:1.5em;
            &__image{
                max-width:100%;
                background-color: #fff;
                //display: none;
            }
            &__text{
                width:70%;
                margin-left:15%;
            }
        }
    }
    .subscribe{
        &-form{
            position: relative;
            width:70%;
            margin: 0 auto;
        }
    }
    .contact{
        &-form{
            width:80%;
            &__name{
                width:calc(50% - 30px);
            }
            &__message{
                width:calc(100% - 30px);
            }
            &__button{
                width:30%;    
            }
        }
    }
    .footer{
        &-blocks{
            flex-wrap:wrap;
        }
        &-block{
            width:calc(50% - 100px);
            margin:0 50px;
            &-1{
                margin:0 15px;
                padding:50px 0;
                order:1;
            }
        }
    }
}
@media (max-width:1140px) and (min-width:940px){
    .services{
        &-blocks{
            margin-left: 5%;
            width:90%;
            &__block{
                margin:0 3px;
            }
        }
    }
    .video{
        &__image{
            width:24%;
            margin-left:38%;
        }
    }
    .portfolio{
        &-block{
            margin-left: 5%;
            width:90%;
        }
    }
    .team{
        &-blocks{
            margin-left: 5%;
            width:90%;
            &__block{
                margin: 0 5px;
            }
        }
        &-block{
            margin-top:15%;
        }
    }
    .steps{
        &-blocks{
            height:auto;
        }
        &-block{
            width:60%;
        }
    }
    .pricing{
        &-blocks{
            width:90%;
            margin-left:5%;
            &__price{
                height:110px;
                width: 110px;
                margin-left:calc((100% - 110px)/2);
                &-1{margin-top:1em;}
                &-2{margin-top:-1.5em;}
            }
            &__button{
                width:50%;
                margin-left:25%;
            }
        }        
    }
    .why{
        &-blocks{
            &__block{
                max-width:calc(50% - 30px);
            }
        }
        &-button{
            width:100%;
            margin:0;
        }           
    }
    .blog{
        &-blocks{
            width:90%;
            margin-left:5%;
            display:flex;
            flex-wrap: wrap;
        }
        &-block{
            max-width:calc(50% - 30px);
            margin:0 15px;
            margin-top:1.5em;
            &__image{
                max-width:100%;
                background-color: #fff;
                //display: none;
            }
        }
    }
    .subscribe{
        &-form{
            position: relative;
            width:60%;
            margin: 0 auto;
        }
    }
    .contact{
        &-form{
            width:70%;
            &__name{
                width:calc(50% - 30px);
            }
            &__message{
                width:calc(100% - 30px);
            }
            &__button{
                width:30%;    
            }
        }
    }
    .footer{
        &-blocks{
            flex-wrap:wrap;
        }
        &-block{
            width:calc(50% - 100px);
            margin:0 50px;
            &-1{
                margin:0 15px;
                padding:50px 0;
                order:1;
            }
        }
    }
}
@media (max-width:1380px) and (min-width:1140px){    
    .blog{
        &-blocks{
            grid-template-rows: 1fr 1fr;
        }
        &-block{
            margin:0 15px;
            margin-top:1.5em;
            &__image{
                max-width:100%;
                background-color: #fff;
            }
        }
    }
    .blog-block.orange{
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .subscribe{
        &-form{
            position: relative;
            width:50%;
            margin: 0 auto;
        }
    }
    .contact{
        &-form{
            width:60%;
            &__button{
                width:25%;    
            }
        }
    }
    .footer{
        &-block{
            &-icons{
                &__icon{
                    width:27px;
                }
            }
        }
    }
        
}